body{
  background-color: #EEEEEE;
}
.container{
  background-color: #00ADB5;
}
.row{
  border: 2px solid;
}
#skills{
  background-color: #F9ED69;
}
#exp{
  background-color: #F08A5D;
}
h1{
  color: #6A2C70;
}
h3{
  color: #B83B5E;
  font-family:sans-serif;
}
p{
  font-family: cursive;
}
